# llm model weight
/models
/testmodel

# sql database
/mysql-init

# api key
api_key.json
src/nvidiaapi

# testinput
src/testinput

# testoutput
src/testoutput

# extension ignore
*.log
*.tmp
*.bak
*.conf