pytest 
scikit-build 
setuptools 
fastapi 
uvicorn 
sse-starlette 
pydantic-settings 
starlette-context
jupyter
numpy
polars
openai
langchain
langchain_community
langchain_openai
langgraph
langsmith
requests
mysqlclient
