pytest 
scikit-build 
setuptools 
fastapi 
uvicorn 
sse-starlette 
pydantic-settings 
starlette-context
jupyter
numpy
polars
openai
langchain
lanchain_community
langgraph
langsmith
requests
mysqlclient
