pytest 
scikit-build 
setuptools 
fastapi 
uvicorn 
sse-starlette 
pydantic-settings 
starlette-context
jupyter
numpy
polars
openai
crewai
crewai-tools
langchain
langgraph
langsmith
requests
mysqlclient
